/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Sign Up Container */
  .signup-container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  /* Form Title */
  .signup-container h2 {
    text-align: center;
    color: #450101;
    margin-bottom: 20px;
  }
  
  /* Form Labels */
  .signup-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  /* Form Inputs */
  .signup-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
  }
  
  /* Submit Button */
  .signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #450101;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .signup-container button:hover {
    background-color: #582121;
  }
  